body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app {
    text-align: center;
    margin-top: 50px;
}

#profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}
